{% extends "base.html" %}

{% block page_name %}Display Single Tag Graph{% endblock %}

{% block content %}
	<form method="post" autocomplete="on" style="margin-top: 10px;">
			<label for="tag" style="font-size: x-large;">Choose a Tag</label>
			{% csrf_token %}
				<select id="tag" name="tag" class="form-select w-25 p-3">
					<option disabled selected value> -- select an option -- </option>
						{% for tag in tag_options %}
							<option>
								{{tag}}
							</option>
						{% endfor %}
				</select>
			<button type="submit" class="btn btn-primary btn-lg" style="margin-top: 15px;">Get Historical Data</button>
		</form>
	{% if tag_name %}
		<div id="my_div"></div>
	{% else %}
		<h3>Choose a tag for the graph to appear</h3>
	{% endif %}


{% endblock %}

{% block page_scripts %}
	<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
	<script type="text/javascript">

		const timestamp_list = {{ timestamp_list | safe }};
		const value_list = {{ value_list | safe }};
		var tag_name = "{{tag_name}}";
	
		var trace1 = {
		  x: timestamp_list,
		  y: value_list,
		  type: 'scatter'
		};
		
		var layout = {
			title: {
				text: tag_name,
				font: {
					family: 'Courier New, monospace',
					size: 70
				},
			yref: 'paper',
			automargin: true,
			},
			showlegend: false
		};

		var data = [trace1];

		Plotly.newPlot('my_div', data, layout);
	</script>
{% endblock %}