{% extends "base.html" %}

{% block page_name %}Display Single Tag Graph for Current Day{% endblock %}
		  
{% block content %}
	<div id="timestamp_list" hidden>{{timestamp_list}}</div>
	<div id="value_list" hidden>{{value_list}}</div>
	
	<form method="post" autocomplete="on" style="margin-top: 10px;">
			<label for="tag" style="font-size: x-large;">Choose a Tag</label>
			{% csrf_token %}
				<select id="tag" name="tag" class="form-select w-25 p-3">
					<option disabled selected value> -- select an option -- </option>
						{% for tag in tag_options %}
							<option>
								{{tag}}
							</option>
						{% endfor %}
				</select>
			<button type="submit" class="btn btn-primary btn-lg" style="margin-top: 15px;">Get Historical Data</button>
		</form>
	{% if tag_name %}
		<div id="my_div"></div>
	{% else %}
		<h3>Choose a tag for the graph to appear</h3>
	{% endif %}


{% endblock %}

{% block page_scripts %}
	<script src="https://cdn.plot.ly/plotly-2.30.0.min.js" charset="utf-8"></script>
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
	<script type="text/javascript">

		var timestamp_list = {{ timestamp_list | safe }};
		var value_list = {{ value_list | safe }};
		var tag_name = "{{tag_name}}";
	
		var trace1 = {
		  x: timestamp_list,
		  y: value_list,
		  type: 'scatter'
		};
		
		var layout = {
			title: {
				text: tag_name,
				font: {
					family: 'Courier New, monospace',
					size: 70
				},
			yref: 'paper',
			automargin: true,
			},
			showlegend: false
		};

		var data = [trace1];
		
		console.log("Init Timestamp List Length: ", timestamp_list.length)
		console.log("Init Value List Length: ", value_list.length)

		Plotly.newPlot('my_div', data, layout);
		
		
		$( document ).ready(function() {
			setInterval(function() {
				
			  $("#timestamp_list").load(" #timestamp_list");
			  $("#value_list").load(" #value_list");
			  
			  var temp_timestamp_list = $('#timestamp_list').text();
			  var temp_value_list = $('#value_list').text();
			  
			  // Reformat data for timestamp
			  var timestamp_result = temp_timestamp_list.substring(1, temp_timestamp_list.length-1);
			  var timestamp_result = timestamp_result.split("',");
			  
			  var value_result = temp_value_list.substring(1, temp_value_list.length-1);
			  var value_result = value_result.split(',');
			  
			  //console.log(value_result.length)
			  //console.log(timestamp_result.length)
			  
			 
			  var updated_trace = {
				x: [timestamp_result],
				y: [value_result],
				type: 'scatter'
			  };

			var updated_data = [updated_trace];
			
			Plotly.restyle('my_div', updated_trace);
			}, 2000);
		});

		</script>
		
	
{% endblock %}